{{ define "main" }}
    <section class="metricas">
        <div class="titular-resaltado">
            <h2 class="container">ALGUNAS METRICAS</h2>
        </div>
        <div class="container text-center">
            <div class="row g-md-5 row align-items-center">
            <div class=" col-12 col-md-6">
                <div class=" text-md-start  d-flex align-items-center d-flex justify-content-center">
                    <p>Teniendo en cuenta estos valores vemos un potencial a la hora de invertir en tecnología. Dando oportunidades a más jóvenes. </p>
                </div>  
            </div>
            <div class="col-12 col-md-6">
                <div class="estadisiticas p-md-5 d-flex flex-row d-flex justify-content-evenly d-flex align-items-start">
                    <div class="persona d-flex flex-row d-flex justify-content-around d-flex align-items-center">
                        <img src="/src/VectorMasculino.svg" alt="">
                        <div class="valor d-flex flex-column d-flex align-items-center">
                            <p class="numero">11</p>
                            <p class="genero">Varones</p>
                        </div>
                    </div>
                    <div class="persona d-flex flex-row d-flex justify-content-around ">
                        <img src="/src/VectorMasculino.svg" alt="">
                        <div class="valor d-flex flex-column d-flex align-items-center d-flex justify-content-center">
                            <p class="numero">19</p>
                            <p class="genero">Mujeres</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="estadisiticas p-md-5 d-flex flex-row d-flex justify-content-evenly d-flex align-items-start">
                    <img src="/src/grafica.svg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="estadisiticas p-md-5 d-flex flex-row d-flex justify-content-evenly d-flex align-items-start">
                    
                </div>
            </div>
            </div>
        </div>
        
    </section>
{{ end }}