{{ define "main" }}
    <section class="becados">
        <div class="titular-resaltado">
            <h2 class="container">nuestros becados</h2>
        </div>
        <div class="container content">
            <div class="row gy-1">  
                <div class="col-12 col-md-4 d-flex">
                    <div class="becado d-flex flex-column d-flex justify-content-around text-center d-flex align-items-center">
                        <img src="/src/nuestrosBecados.png" alt="imagen becado">
                        <div class="contenido d-flex flex-column d-flex justify-content-around">
                            <h5>Aylén Díaz García</h5>
                            <p>23 años - Diseño UX - Estudiante de Ingeniería en Sistemas</p>
                            <i class="fa-brands fa-linkedin fa-2x"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="col-12 col-md-4 d-flex">
                    <div class="becado d-flex flex-column d-flex justify-content-around text-center d-flex align-items-center">
                        <img src="/src/nuestrosBecados.png" alt="imagen becado">
                        <div class="contenido d-flex flex-column d-flex justify-content-around">
                            <h5>Aylén Díaz García</h5>
                            <p>23 años - Diseño UX - Estudiante de Ingeniería en Sistemas</p>
                            <i class="fa-brands fa-linkedin fa-2x"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="col-12 col-md-4 d-flex">
                    <div class="becado d-flex flex-column d-flex justify-content-around text-center d-flex align-items-center">
                        <img src="/src/nuestrosBecados.png" alt="imagen becado">
                        <div class="contenido d-flex flex-column d-flex justify-content-around">
                            <h5>Aylén Díaz García</h5>
                            <p>23 años - Diseño UX - Estudiante de Ingeniería en Sistemas</p>
                            <i class="fa-brands fa-linkedin fa-2x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 d-flex">
                    <div class="becado d-flex flex-column d-flex justify-content-around text-center d-flex align-items-center">
                        <img src="/src/nuestrosBecados.png" alt="imagen becado">
                        <div class="contenido d-flex flex-column d-flex justify-content-around">
                            <h5>Aylén Díaz García</h5>
                            <p>23 años - Diseño UX - Estudiante de Ingeniería en Sistemas</p>
                            <i class="fa-brands fa-linkedin fa-2x"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="col-12 col-md-4 d-flex">
                    <div class="becado d-flex flex-column d-flex justify-content-around text-center d-flex align-items-center">
                        <img src="/src/nuestrosBecados.png" alt="imagen becado">
                        <div class="contenido d-flex flex-column d-flex justify-content-around">
                            <h5>Aylén Díaz García</h5>
                            <p>23 años - Diseño UX - Estudiante de Ingeniería en Sistemas</p>
                            <i class="fa-brands fa-linkedin fa-2x"></i>
                        </div>
                    </div>
                    
                </div>
                <div class="col-12 col-md-4 d-flex">
                    <div class="becado d-flex flex-column d-flex justify-content-around text-center d-flex align-items-center">
                        <img src="/src/nuestrosBecados.png" alt="imagen becado">
                        <div class="contenido d-flex flex-column d-flex justify-content-around">
                            <h5>Aylén Díaz García</h5>
                            <p>23 años - Diseño UX - Estudiante de Ingeniería en Sistemas</p>
                            <i class="fa-brands fa-linkedin fa-2x"></i>
                        </div>
                    </div>
                </div>
                
            </div> 
        </div>
    </section>
{{ end }}