{{ define "main" }}
    <section class="sobre-digitar">
        <div class="title">
            <h2>Sobre digitar</h2>
        </div>
        <div class="section-content">
            <h3>Visión</h3>
            <p>Adoptar y apoyar el talento del mañana mediante la creación de un ecosistema de capital humano respaldado por mentores y donantes que empoderen a los jóvenes estudiantes para que triunfen profesionalmente y accedan a los trabajos del mañana.</p>
            <h3>CÓMO</h3>
            <p>Brindar becas, apoyo y acceso a una red de mentores para estudiantes que tienen el potencial, pero carecen de los medios financieros, para seguir una carrera en los sectores tecnológico y digital.</p>
            <p>Con el tiempo, pretendemos crear un círculo virtuoso alrededor de cada estudiante impulsado por:</p>
        </div>
        <div class="sobre-digitar cards">
            <div class="card">
                <p><b>1.</b> Fomentar relaciones cercanas con mentores, referencias y simpatizantes que quieran retribuir a sus comunidades ayudando a jóvenes y diversos talentos.</p>
            </div>
            <div class="card">
                <p><b>5.</b> Brindar acceso a asesores profesionales, mentores y los trabajos del mañana a través de asociaciones con empresas de tecnología.</p>
            </div>
            <div class="card">
                <p><b>2.</b> Crear conciencia sobre la educación digital y las oportunidades tecnológicas.</p>
            </div>
            <div class="card">
                <p><b>6.</b> Promoción del espíritu empresarial, la comunidad y la responsabilidad cívica.</p>
            </div>
            <div class="card">
                <p><b>3.</b> Otorgar becas relacionadas con la tecnología a estudiantes comprometidos.</p>
            </div>
            <div class="card">
                <p><b>7.</b> Promoción de modelos a seguir e influenciadores para la próxima generación.
                </p>
            </div>
            <div class="card">
                <p> <b>4.</b> Apoyar el crecimiento emocional de los estudiantes para que tengan la confianza de soñar en grande y avanzar en sus carreras.</p>
            </div>
            <div class="section-content">
                <h3>Dónde</h3>
                <p>Lanzado en Argentina en 2019. Con el objetivo de un crecimiento continuo en América Latina y la comunidad hispana de EE. UU.</p>
                <h3>Quién</h3>
                <p>Proyecto co-fundado y apoyado por Francisco Alvarez Demalde y Lucila Werthein. Expandir Digitar a través de un Círculo de Fundadores y Donantes.</p>
                <h3>Socios</h3>
                <div class="section-content socios ">
                    <img src="src/LogoPuerta18.png" alt="Perta 18">
                    <p>&</p>
                    <img src="/src/LogoDH.png" alt="Digital House">
                </div>
            </div>
        </div>
    </section>
    <section class="objetivos">
        <div class="section-content">
            <h3>VISIBILIZAR EL PROYECTO</h3>
            <p>Buscamos comunicar el valor que aporta la beca Digitar. Tanto para los jóvenes y sus conocimientos, como para las empresas que luego se beneficiarán de ellos.</p>
            <h3>REMARCAR LAS OPORTUNIDADES</h3>
            <p>Nos interesa enfatizar las posibilidades y caminos que se abren a partir de la beca y, así, desmitificar conceptos sobre los jóvenes.</p>
            <h3>MOSTRAR RESULTADOS</h3>
            <p>Queremos compartir los resultados del impacto que tienen las becas en la vida de cada persona que las recibe. Nuestro fin es inspirar a más jóvenes e instituciones para que se sumen al proyecto.</p>
            
        </div>
    </section>
{{ end }}