<footer class="d-flex flex-column d-flex align-items-center">
    <div class="footer-contenido d-flex flex-column d-flex flex-md-row d-flex justify-content-md-between align-items-md-center">
        <img class=" d-flex align-items-center  justify-content-center my-2" src="/src/VectorDigitarLogo.svg" alt="">
        <div class="menu-footer d-flex flex-column p-2 mb-3 px-4 d-flex justify-content-evenly d-flex align-items-center my-3 d-flex flex-md-row ">
            <a class="mx-md-4" href="index.html"><b>Home</b></a>
            <a class="mx-md-2" href="quienesSomos.html">Quienes somos</a>
            <a class="mx-md-2" href="becados.html">Becados</a>
            <a class="mx-md-2" href="metricas.html">Métricas</a>
            <a class="mx-md-2" href="contacto.html">Contacto</a>
        </div>
        <div class="social-media d-flex flex-row d-flex justify-content-around my-2">
                <a href=""><i class="fa-brands fa-dribbble"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></i></a>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </div>
    <p class="my-2 container">© 2022 DigitAR. All Rights Reserved.</p>
</footer>