{{ define "main" }}
    <section class="inicio container">
        <div class="row gx-md-5 ">
            <img class="inicio-background" src="/images/home/LOGO SVG.svg" alt="">
            <div class="inicio-content col-lg-6 col-12  d-flex flex-column mb-3 justify-content-center  ">
                <h1 class="titulo">DIGITAR</h1>
                <p>Llevando a las nuevas generaciones hacia un futuro digital.</p>
            </div>
            <img class="inicio-img col-sm-6 col-12"src="/images/home/ImagenInicio.png" alt="">
        </div>
    </section>
    <section class="becas my-5">
        <div class="titular-resaltado">
            <h2 class="container">Origen de las becas</h2>
        </div>
        <div class="section-content container">
            <div class="row">
                <p class="col-md-9">Las becas <strong>DigitAr</strong> nacen por el interés de formar jóvenes, ofreciendo oportunidades para capacitarse en instituciones educativas de la República Argentina.</p>
                <p class="col-md-9">Los enfoques específicos son temas relacionados con el diseño gráfico, marketing digital y la programación.</p>
                <p class="col-md-9">Dentro de un siglo dominado por la tecnología, se busca acompañar a las nuevas generaciones no solo en lo técnico sino también en lo humano, <strong>en camino hacia un futuro digital</strong>.</p>
            </div>
        </div>   
    </section>
    <section class="testimonios my-5">
        <div class="titular-resaltado">
            <h2 class="container">Testimonios</h2>
        </div>
        <p class="container">A continuación, algunos testimonios de nuestros becados en Buenos Aires:</p>
        <!-- Swiper -->
        <div class="swiper swiper-testimonios container-fluid my-5 ">
            <div class="swiper-wrapper">
                <div class="swiper-slide d-flex flex-column d-flex align-items-start d-flex flex-md-row d-flex align-items-md-center">
                    <div class="user d-flex flex-column d-flex align-items-center mx-md-3">
                        <img class="" src="/images/home/testimonios.png" alt="">
                        <div class="user-name ">
                            <h5 class="my-2">Macarena Jensen</h5>
                            <b class="my-5 pe-5">Becada</b>
                        </div>
                    </div>
                    <p class="user-text mt-1 mx-md-1">“La beca representó un cambio tanto en lo academico como lo personal, fue un gran desafio trabajar en equipo.  Gracias al curso se pueden abrir puertas en lo laboral y es una oportunidad única”</p>
                </div>
                <div class="swiper-slide d-flex flex-column d-flex align-items-start d-flex flex-md-row d-flex align-items-md-center">
                    <div class="user d-flex flex-column d-flex align-items-center mx-md-3">
                        <img class="" src="/images/home/testimonios.png" alt="">
                        <div class="user-name ">
                            <h5 class="my-2">Macarena Jensen</h5>
                            <b class="my-5 pe-5">Becada</b>
                        </div>
                    </div>
                    <p class="user-text mt-1 mx-md-1">“La beca representó un cambio tanto en lo academico como lo personal, fue un gran desafio trabajar en equipo.  Gracias al curso se pueden abrir puertas en lo laboral y es una oportunidad única”</p>
                </div>
                <div class="swiper-slide d-flex flex-column d-flex align-items-start d-flex flex-md-row d-flex align-items-md-center">
                    <div class="user d-flex flex-column d-flex align-items-center mx-md-3">
                        <img class="" src="/images/home/testimonios.png" alt="">
                        <div class="user-name ">
                            <h5 class="my-2">Macarena Jensen</h5>
                            <b class="my-5 pe-4">Becada</b>
                        </div>
                    </div>
                    <p class="user-text mt-1 mx-md-1">“La beca representó un cambio tanto en lo academico como lo personal, fue un gran desafio trabajar en equipo.  Gracias al curso se pueden abrir puertas en lo laboral y es una oportunidad única”</p>
                </div><div class="swiper-slide d-flex flex-column d-flex align-items-start d-flex flex-md-row d-flex align-items-md-center">
                    <div class="user d-flex flex-column d-flex align-items-center mx-md-3">
                        <img class="" src="/images/home/testimonios.png" alt="">
                        <div class="user-name ">
                            <h5 class="my-2">Macarena Jensen</h5>
                            <b class="my-5 pe-4">Becada</b>
                        </div>
                    </div>
                    <p class="user-text mt-1 mx-md-1">“La beca representó un cambio tanto en lo academico como lo personal, fue un gran desafio trabajar en equipo.  Gracias al curso se pueden abrir puertas en lo laboral y es una oportunidad única”</p>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <section class="eventos">
        <div class="titular-resaltado">
            <h2 class="container">Eventos recientes</h2>
        </div>
        <div class="container">
            <div class="evento container my-3 d-flex flex-column d-flex flex-md-row ">
                <img class="mt-4 mt-md-0 mx-md-2 " src="/images/home/EventosRecientes.png" alt="Evento">
                <div class="eventos-testimonies mx-md-4">
                    <div class=" evento-titulo m-3 mx-2">
                        <p><b>Salida a la muestra Gaspar Lidebinsky</b></p>
                    </div>
                    <p>🎉Gracias a #DigitAR hoy visitamos la muestra "casa tomada" con su creador @gasparlibedinsky
                        ✨Muy inspirador ver como el arte se apodera del @museodecorativo, como dialoga con los diferentes espacios y sobretodo poder conversar con el artista y después tener un workshop para profundizar conceptos. Gracias Gaspar Libendisky y gracias DigitAR por seguir inspirando a los jóvenes! 💪
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="evento container my-3 d-flex flex-column d-flex flex-md-row ">
                <img class="mt-4 mt-md-0 mx-md-2 " src="/images/home/EventosRecientes2.png" alt="Evento">
                <div class="eventos-testimonies mx-md-4">
                    <div class=" evento-titulo m-3 mx-2">
                        <p><b>Salida a la muestra Gaspar Lidebinsky</b></p>
                    </div>
                    <p>🎉Gracias a #DigitAR hoy visitamos la muestra "casa tomada" con su creador @gasparlibedinsky
                        ✨Muy inspirador ver como el arte se apodera del @museodecorativo, como dialoga con los diferentes espacios y sobretodo poder conversar con el artista y después tener un workshop para profundizar conceptos. Gracias Gaspar Libendisky y gracias DigitAR por seguir inspirando a los jóvenes! 💪
                    </p>
                </div>
            </div>
        </div>
        
    </section>
{{ end }}